<div id="siteFooter" class="container">
    <div class="row">
     <div class="six columns push-six">
            <h3>
                Contact us</h3>
            <ul>
                <li>Email</li>
                <li>Phone</li>
                <li>Twitter</li>
                <li>FaceBook</li>
            </ul>
        </div>
        <div class="six columns pull-six">
            <h5>
                Menu</h5>
            <ul>
                <li><a href="#">Showcase</a></li>
                <li><a href="#">Features</a></li>
                <li><a href="#">Benefits</a></li>
                <li><a href="#">Media</a></li>
            </ul>
        </div>
       
    </div>
</div>
<div id="copyright" class="container">
    <div class="row">
        <div class="twelve columns">
            <p>
                This template is a demo of Foundation using ASP.NET MVC</p>
        </div>
    </div>
</div>
@*
Written by Ed Charbeneau 2012
Twitter: EdCharbeneau
*@