<div id="siteHeader" class="container">
    <div class="row">
        <div class="four columns">
            <h1>Logo</h1></div>
        <div class="eight columns">
            <ul class="nav-bar">
                <li><a href="#" class="main">Showcase</a></li>
                <li><a href="#" class="main">Features</a></li>
                <li><a href="#" class="main">Benefits</a></li>
                <li><a href="#" class="main">Media</a></li>
            </ul>
        </div>
    </div>
</div>
